
body{
  background-color: rgb(27, 2, 35);
}

.__logincontainer{
  position: relative;
  width: 360px;
  background-color: #ffffff;
  border-radius: 15px;
 
}

.navbar{
  background-color: rgb(9, 9, 9);
  border-bottom: 1px solid rgba(245, 222, 179, 0.61);
}
.navbar-brand{
  color: aliceblue !important;
  font-weight: 700;
}

@media screen and (max-width: 580px) {
  .__logincontainer{
    position: relative;
    width: 300px;
    background-color: #ffffff;
    border-radius: 15px;
   
  }
  
}